<div class="row-layout group">
  <igx-card *ngFor="let product of data | async" class="card">
    <igx-card-header>
      <h5 igxCardHeaderTitle>Product ID: {{ product.productId }}</h5>
    </igx-card-header>

    <igx-card-content>
      <h5 igxCardHeaderSubtitle>Units in stock: {{ product.unitsInStock }}</h5>
    </igx-card-content>

    <igx-card-actions class="actions-content">
      <button igxButton="outlined" igxRipple igxStart> Buy now</button>
    </igx-card-actions>
  </igx-card>
</div>

<igx-paginator #paginator [(perPage)]="perPageCards" [selectOptions]="cardItemsPerPage" [totalRecords]="totalRecords | async"
  (pagingDone)="paginateCards()">
</igx-paginator>

<div class="row-layout group_1">
  <igx-grid #grid1 [data]="data | async" width="100%" height="580px" [isLoading]="isLoading" [pagingMode]="mode"
    class="grid">
    <igx-paginator [(perPage)]="perPage" [totalRecords]="totalRecords | async" (pagingDone)="paginate()">
    </igx-paginator>
    <igx-column field="productId"></igx-column>
    <igx-column field="supplierId"></igx-column>
    <igx-column field="categoryId"></igx-column>
    <igx-column field="quantityPerUnit"></igx-column>
    <igx-column field="unitsInStock"></igx-column>
    <igx-column field="unitsOnOrder"></igx-column>
    <igx-column field="reorderLevel"></igx-column>
    <igx-column field="discontinued"></igx-column>
  </igx-grid>
</div>